# **(EDL - Edit, transform, Load)**

In [ ]:
#import numy 
import numpy as np

In [ ]:
#impart pandas
import pandas as pd

## Objectives

* Upload raw data, analyse and transform the date to remove inconsistencies

## Inputs

* The data is onlne retail data in csv form that has been moved this directory dataset\raw\Online_Retail.csv

## Outputs

* The output will be converted dat that has been amedned to remove the following:-
***********************

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [15]:
import os
current_dir = os.getcwd()
current_dir

'c:\\vscode_projects\\Hack1_Online_Retail\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [16]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [17]:
current_dir = os.getcwd()
current_dir

'c:\\vscode_projects\\Hack1_Online_Retail'

# Data extraction

Section 1 content

In [ ]:


# set file path
file_path = r'dataset\raw\Online_Retail.csv'

# load csv
df_retail = pd.read_csv(file_path)

#list first 20 rows
df_retail.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,United Kingdom

---

# Check for missleading data and missing data

To get a summary of the data using the describe method.

In [22]:


summary = df_retail.describe()
summary

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  541909.000000
mean        9.552250       4.611114   15287.518434
std       218.081158      96.759853    1484.746041
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   14367.000000
50%         3.000000       2.080000   15287.000000
75%        10.000000       4.130000   16255.000000
max     80995.000000   38970.000000   18287.000000

Look for missing data using isnull

In [24]:
df_retail[df_retail.isnull().any(axis=1)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,15287,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,15287,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,15287,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,15287,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,15287,United Kingdom
...,...,...,...,...,...,...,...,...
535322,581199,84581,NaN,-2,2011-12-07 18:26:00,0.0,15287,United Kingdom
535326,581203,23406,NaN,15,2011-12-07 18:31:00,0.0,15287,United Kingdom
535332,581209,21620,NaN,6,2011-12-07 18:35:00,0.0,15287,United Kingdom
536981,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,15287,United Kingdom
538554,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,15287,United Kingdom

In [25]:
# data where the description or customer ID is missing can not be used effectively as the products can not be identified and it cannot be grouped to a customer

df_retail[["CustomerID","Description"]].isnull().sum()

CustomerID        0
Description    1454
dtype: int64

# Data Analysis

•	The describe function has displayed all data items as floats, there are also too many decimal points to reflect the true value of the data. It is rare to get decimals in quantities for retail, as most retail items are sold in single units. This will require the conversion of the data types.
•	The min is a negative number for quantity; this suggests that returns orders are included in the data set or that there are mistakes in the data. 
•	The max for quantity is extremely high for a retail customer order, this suggests that there are outliers. 
•	The min is a negative number for unit price; this suggests that returns orders are included in the data set or that there are mistakes in the data. 
•	The mean for quality is large for retail customer orders. This suggests that there are outliers in the data.
•	The data with missing descriptions will need to be dropped from the data set


The following action will be taken to clean the data 
1 - Convert quantity to integer
2 - Convert unit price to   float
3 - Convert customer Id to a string
4 - Convert InvoiceDate to date to date and time
5 - Filter out negative quantities for quantity and unit price
6 – Remove missing values in customerID and description
7 - Remove outliers in quantity

In [26]:
# 1 Ensure Quantity is integer
df_retail["Quantity"] = df_retail["Quantity"].astype(int)

# 2 Ensure UnitPrice is float (already float, but safe to enforce)
df_retail["UnitPrice"] = df_retail["UnitPrice"].astype(float)

# 3 Convert CustomerID to string (since it's an identifier, not numeric)
df_retail["CustomerID"] = df_retail["CustomerID"].astype("string")

# 4 convert invoice date and time to datetime
df_retail["InvoiceDate"] = pd.to_datetime(df_retail["InvoiceDate"], errors="coerce")

# 5 filter out negative quantities for quantity and unit price
df_retail = df_retail[df_retail["Quantity"] > 0]
df_retail = df_retail[df_retail["UnitPrice"] > 0]

# 6 filter out missing values
df_retail = df_retail.dropna()

# Review Data set

summary = df_retail.describe()
summary

# Remove Outliers

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.